/* Version 2.6.0*/

.list-group-item{
    background-color: #efefef;
}

/***/
.navbar.navbar-inverse {
    margin: 0;
}

.navbar-brand {
    background-position-x: left;
    margin-left: 80px;
    width: calc(100% - 80px);
}

.back-link {
    padding: 20px;
    font-size: 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    color: white!important;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: none!important;
}

.jumbotron {
    border: 1px solid #ddd;
}

.list-group {
    margin-bottom: 0;
}

.list-group-item{
    padding: 7px !important;
}

.subitem{
    padding-left: 15px !important;
}